Package: com.huami.actiongesture
Name: ActionGesture-beta
Version: 0.0-4~beta2
Architecture: iphoneos-arm
Description: Custom gesture actions for the iPhone Action Button
Maintainer: huami
Author: huami
Section: Tweaks
Depends: mobilesubstrate
